header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2% 2.5%;
  background-color: var(--last-button-hover);
  border-radius: 15px;
}

header h1 {
  font-size: 2.1rem;
  font-weight: 600;
  font-style: italic;
  color: var(--white);
}

nav {
  display: flex;
  gap: 1em;
}

.nav-item {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 1rem;
}

/* .nav-item:not(:last-child) {
  border-right: 5px solid var(--white);
  margin-right: 1.5rem;
} */

.active {
  border: 2px solid rgb(0, 58, 175);
  background-color: rgb(201, 201, 221);
  border-radius: 24px;
  color: var(--active-text-color);
}
