*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #5fbe90, #489cbe);
}

.calciGrid {
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  display: grid;
  justify-content: center;
  margin-top: 75px;
  margin-left: 24px;
}

.calciGrid > button {
  border: 2px solid aliceblue;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}

.calciGrid > button:hover,
.calciGrid > button:focus {
  background-color: #9fd6bb;
}

.span-two {
  grid-column: span 2;
}

.orngBtn {
  background-color: orange;
}

.output {
  word-wrap: break-word;
  border: 2px solid aliceblue;
  word-break: break-all;
  flex-direction: column;
  grid-column: 1 / -1;
  align-items: flex-end;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  padding: 2px;
  font-size: 2.5rem;
  color: aliceblue;
}

h3 {
  color: darkblue;
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}

/* quote styling */
.quoteDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin-top: 22vh;
  background: bisque;
  width: 70%;
  padding: 10px;
  border: 8px solid salmon;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h2 {
  color: black;
  font-size: 6vw;
  width: 100%;
  text-align: center;
}

.calciText h2 {
  color: aliceblue;
  font-size: 3vw;
  width: 100%;
  text-align: center;
}

.string {
  font-size: larger;
}

h3.stringAuthor {
  background: coral;
  color: white;
  padding: 4px;
  border-radius: 12px;
  width: 32%;
  font-size: 15px;
  margin: 0;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  padding: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
